{% load static %}
<!--logged header -->

<div class="px-4 lg:px-20 py-1 md:py-3 lg:py-4 bg-white flex justify-between">
    <div>
        <img class="w-28 lg:w-40 h-auto" src="{% static 'images/0.site-logo.png' %}" alt="Logo">
    </div>
    <div class="hidden md:block lg:mt-1">
        <a href="{% url 'home' %}" class="py-2.5 px-4 text-slate-700 hover:text-yellow-400 hover:font-bold hover:text-lg">Home</a>
        <a href="{% url 'view-event' %}" class=" py-2.5 px-4 text-slate-700 hover:text-yellow-400 hover:font-bold hover:text-lg">Events</a>
        <a href="{% url 'dashboard' %}" class="py-2.5 px-4 text-slate-700 hover:text-yellow-400 hover:font-bold hover:text-lg">Dashboard</a>
        <a href="#" class="py-2.5 px-4 text-slate-700 hover:text-yellow-400 hover:font-bold hover:text-lg">About</a>
        <a href="#" class="py-2.5 px-4 text-slate-700 hover:text-yellow-400 hover:font-bold hover:text-lg">Contact</a>
    </div>
    <div class="hidden md:block lg:mt-1">
        <form action="{% url 'sign-out' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-3 lg:px-4 py-1 lg:py-1 text-center">Logout</button>
        </form>
    </div>
    <div class="md:hidden">
        <details>
            <summary class="text-lg">Menu</summary>
            <a href="{% url 'home' %}" class="text-slate-900 hover:text-yellow-400 hover:font-bold hover:text-lg"><li>Home</li></a>
            <a href="{% url 'view-event' %}" class="text-slate-900 hover:text-yellow-400 hover:font-bold hover:text-lg"><li>Event</li></a>
            <a href="{% url 'dashboard' %}" class="text-slate-900 hover:text-yellow-400 hover:font-bold hover:text-lg"><li>Dashborad</li></a>
            <a href="" class="text-slate-900 hover:text-yellow-400 hover:font-bold hover:text-lg"><li>About</li></a>
            <a href="" class="text-slate-900 hover:text-yellow-400 hover:font-bold hover:text-lg"><li>Contact</li></a>
            <form action="{% url 'sign-out' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="mt-2 text-white bg-red-500 hover:bg-red-600 focus:ring-1 focus:ring-red-300 rounded-full text-sm px-5 py-1 text-center me-2 mb-2">Logout</button>
            </form>
        </details>
    </div>
</div>

