<!-- Header -->
<section class="bg-white shadow-md px-4 lg:px-20 py-2 flex justify-between">
    <div class="md:flex md:items-center md:justify-center">
        <h1 class="text-lg md:text-2xl font-semibold">Dashboard</h1>
    </div>
    <div class="hidden md:flex items-center justify-center">
        <a href="{% url 'home' %}" class="py-2.5 px-4 text-gray-700 hover:bg-gray-100 hover:rounded-full">Home</a>
        <a href="{% url 'dashboard' %}" class="py-2.5 px-4 text-gray-700 bg-gray-100 rounded-full hover:bg-gray-100 hover:rounded-full">Dashboard</a>
        <a href="#" class="py-2.5 px-4 text-gray-700 hover:bg-gray-100 hover:rounded-full">My Permission</a>
    </div>
    <div class="hidden md:flex md:items-center md:justify-center space-x-2">
        <form action="">
            <button type="button" class="text-gray-900 bg-lime-400 hover:bg-lime-500 focus:ring-4 focus:ring-lime-300 font-medium rounded-full text-sm text-center px-4 py-2 mb-2 md:mb-0">Role: {{user.groups.first}}</button>
        </form>
        <form action="{% url 'sign-out' %}" method='POST'>
            {% csrf_token %}
            <button type="submit" class="text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm text-center px-4 py-2 mb-2 md:mb-0">Logout</button>
        </form>
    </div>
    <div class="md:hidden">
        <details>
            <summary class="text-lg">Menu</summary>
            <a href="{% url 'home' %}" class="text-slate-900 hover:text-yellow-400 hover:font-bold hover:text-lg"><li>Home</li></a>
            <a href="{% url 'dashboard' %}" class="text-yellow-400 font-bold hover:text-yellow-400 hover:font-bold hover:text-lg"><li>Dashborad</li></a>
            <a href="" class="text-slate-900 hover:text-yellow-400 hover:font-bold hover:text-lg"><li>My Permission</li></a>
            <form action="{% url 'sign-out' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="mt-2 text-white bg-red-500 hover:bg-red-600 focus:ring-1 focus:ring-red-300 rounded-full text-sm px-5 py-1 text-center me-2 mb-2">Logout</button>
            </form>
        </details>
    </div>
</section>