{% load static %}
  <!--non-logged header -->

<div class="px-4 lg:px-20 py-1 md:py-3 lg:py-4 bg-white flex justify-between">
    <div>
        <img class="w-28 lg:w-40 h-auto" src="{% static 'images/0.site-logo.png' %}" alt="Logo">
    </div>
    <div class="hidden md:block lg:mt-1">
        <a href="{% url 'home' %}" class="py-2.5 px-4 text-slate-700 hover:text-yellow-400 hover:font-bold hover:text-lg">Home</a>
        <a href="{% url 'view-event' %}" class=" py-2.5 px-4 text-slate-700 hover:text-yellow-400 hover:font-bold hover:text-lg">Events</a>
        <a href="{% url 'dashboard' %}" class="py-2.5 px-4 text-slate-700 hover:text-yellow-400 hover:font-bold hover:text-lg">Dashboard</a>
        <a href="#" class="py-2.5 px-4 text-slate-700 hover:text-yellow-400 hover:font-bold hover:text-lg">About</a>
        <a href="#" class="py-2.5 px-4 text-slate-700 hover:text-yellow-400 hover:font-bold hover:text-lg">Contact</a>
    </div>
    <div class="hidden md:block lg:mt-1">
        <a href="{% url 'sign-in' %}" class="text-gray-900 bg-lime-400 hover:bg-lime-500 focus:ring-4 focus:ring-lime-300 font-medium rounded-full text-sm px-3 lg:px-4 py-1 lg:py-1 text-center">Sign In</a>
        <a href="{% url 'sign-up' %}" class="text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-3 lg:px-4 py-1 lg:py-1 text-center">Sing Up</a>
    </div>
    <div class="md:hidden">
        <details>
            <summary class="text-lg">Menu</summary>
            <a href="{% url 'home' %}" class="text-slate-900 hover:text-yellow-400 hover:font-bold hover:text-lg"><li>Home</li></a>
            <a href="{% url 'view-event' %}" class="text-slate-900 hover:text-yellow-400 hover:font-bold hover:text-lg"><li>Event</li></a>
            <a href="{% url 'dashboard' %}" class="text-slate-900 hover:text-yellow-400 hover:font-bold hover:text-lg"><li>Dashborad</li></a>
            <a href="" class="text-slate-900 hover:text-yellow-400 hover:font-bold hover:text-lg"><li>About</li></a>
            <a href="" class="text-slate-900 hover:text-yellow-400 hover:font-bold hover:text-lg"><li>Contact</li></a>
            <a href="{% url 'sign-in' %}" class="block text-gray-900 bg-lime-400 hover:bg-lime-500 focus:ring-1 focus:ring-lime-300 rounded-full text-sm px-5 py-1 text-center me-2 mb-2 mt-2"><li>Sign In</li></a>
            <a href="{% url 'sign-up' %}" class="block text-gray-900 bg-rose-400 hover:bg-rose-500 focus:ring-1 focus:ring-rose-300 rounded-full text-sm px-5 py-1 text-center me-2 mb-2"><li>Sign Up</li></a>
        </details>
    </div>
</div>

