<!-- Footer  -->
    <section class="h-96 bg-slate-700 rounded-tl-lg rounded-tr-lg">
      <h1 class="text-3xl text-center font-mono text-white">Contact Us</h1>
      <div class="text-center flex items-center justify-center gap-x-36">
        <div>
          <i class="fa-regular fa-message text-9xl text-white"></i>
        </div>
        <div class="mt-20">
          <form class="text-white font-mono text-lg" action="">
            <label for="">YOUR NAME</label>
            <input class="px-10 text-black rounded-sm" type="text" placeholder="Type your name" required>
            <label for="">YOUR EMAIL</label>
            <input class="px-10 text-black rounded-sm" type="text" placeholder="Type your email" required><br><br>
            <label for="">MESSAGE</label>
            <input class="w-full py-10 text-black rounded-sm" type="text" placeholder="Type your message" required>
            <button class="bg-blue-800 w-full mt-5 font-mono rounded-sm p-1 hover:bg-blue-700" type="submit">Send</button>
          </form>
        </div>
      </div>
    </section>