{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Participant</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body class="bg-blue-100">
    <h1 class="text-sm md:text-2xl lg:text-3xl text-center font-serif bg-blue-50 mt-5">Participant Form</h1>
    <form method='POST' class="text-center text-sm md:text-base lg:text-lg">
        {% csrf_token %}
        {{form.as_p}}
        <button class="bg-green-500 w-1/2 py-2 mt-3 text-sm md:text-base lg:text-lg text-white font-serif rounded-lg hover:bg-green-600" type="submit">Submit</button>
    </form>
</body>
</html>