{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Category</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="bg-blue-100">

    <h1 class="text-center text-sm md:text-2xl lg:text-3xl font-serif mt-5 bg-blue-50">Category Form</h1>
    <form method="POST" class="text-center text-sm md:text-base lg:text-lg">
        {% csrf_token %}
        {{form.as_p}}
        <button class="bg-green-500 w-1/2 py-2 rounded-lg mt-3 text-sm md:text-base lg:text-lg text-white font-serif hover:bg-green-600" type="submit">Submit</button>
    </form>
    
</body>
</html>