<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Event Page</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
    <header class="bg-white">
        <div class="flex justify-between px-20 py-3">
            <div>
                <img src="{% static 'images/0.site-logo.png' %}" alt="Logo">
            </div>
            <div class="flex mt-1">
                <a href="{% url 'home' %}" class="py-2.5 px-4 text-gray-700 hover:text-yellow-400 hover:font-bold hover:text-lg">Home</a>
                <a href="{% url 'view-event' %}" class="py-2.5 px-4 text-gray-700 hover:text-yellow-400 hover:font-bold hover:text-lg">Events</a>
                <a href="{% url 'dashboard' %}" class="py-2.5 px-4 text-gray-700 hover:text-yellow-400 hover:font-bold hover:text-lg">Dashboard</a>
                <a href="#" class="py-2.5 px-4 text-gray-700 hover:text-yellow-400 hover:font-bold hover:text-lg">About</a>
                <a href="#" class="py-2.5 px-4 text-gray-700 hover:text-yellow-400 hover:font-bold hover:text-lg">Contact</a>
            </div>
            <div class="flex items-center space-x-2">
                <a href="{% url 'sign-in' %}" class="mt-2 text-gray-900 bg-lime-400 hover:bg-lime-500 focus:ring-4 focus:ring-lime-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2">Sign In</a>
                <a href="{% url 'sign-up' %}" class="mt-2 text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2">Sing Up</a>
            </div>
        </div>
   </header>

    <main class="px-20 mt-5">
        <!--Event Create Button -->
        <div class="flex items-center justify-between mb-6">
            <button class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-full shadow">
                + Create Event
            </button>
        </div>

        <!-- Events Grid -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            
            <!-- Single Event Card -->
            <div class="bg-white rounded-lg shadow p-4">
                <img src="e5.jpg" alt="Event" class="rounded-md mb-3 w-full h-40">
                <h3 class="text-lg font-bold">Tech Conference 2025</h3>
                <p class="text-sm text-gray-600">Date: 25 July 2025</p>
                <p class="text-sm text-gray-600">Time: 10:00 PM</p>
                <p class="text-sm text-gray-600">Location: Dhaka</p>
                <p class="mt-2 text-gray-700 text-sm">Join the largest tech conference of the year!</p>
                <div class="mt-2">
                    <a href="" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Details</a>
                    <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Rsvp</button>
                </div>
            </div>
            <div class="bg-white rounded-lg shadow p-4">
                <img src="e5.jpg" alt="Event" class="rounded-md mb-3 w-full h-40">
                <h3 class="text-lg font-bold">Tech Conference 2025</h3>
                <p class="text-sm text-gray-600">Date: 25 July 2025</p>
                <p class="text-sm text-gray-600">Time: 10:00 PM</p>
                <p class="text-sm text-gray-600">Location: Dhaka</p>
                <p class="mt-2 text-gray-700 text-sm">Join the largest tech conference of the year!</p>
                <div class="mt-2">
                    <a href="" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Details</a>
                    <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Rsvp</button>
                </div>
            </div>
            <div class="bg-white rounded-lg shadow p-4">
                <img src="e5.jpg" alt="Event" class="rounded-md mb-3 w-full h-40">
                <h3 class="text-lg font-bold">Tech Conference 2025</h3>
                <p class="text-sm text-gray-600">Date: 25 July 2025</p>
                <p class="text-sm text-gray-600">Time: 10:00 PM</p>
                <p class="text-sm text-gray-600">Location: Dhaka</p>
                <p class="mt-2 text-gray-700 text-sm">Join the largest tech conference of the year!</p>
                <div class="mt-2">
                    <a href="" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Details</a>
                    <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Rsvp</button>
                </div>
            </div>
        </div>

    </main>
  
</body>
</html>
