{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{user_group_name}} Dashboard</title>
		<link rel="stylesheet" href="{% static 'css/output.css' %}" />
	</head>
	<body class="bg-gray-100 font-sans">
		<!-- header  -->
		<header>
			{% include "nav/nav_dashboard.html" %}
		</header>

		<!--Message-->
		<section class="px-4 lg:px-20 flex items-center justify-center">
			{% for message in messages %}
			<p class="text-sm lg:text-lg font-sans text-gray-800">{{message}}</p>
			{% endfor %}
		</section>

		<main>
			{% if user_group_name == "Admin" %}
				{% include "admin_dashboard.html" %}
			{% elif user_group_name == "Organizer" %}
				{% include "organizer_dashboard.html" %}
			{% elif user_group_name == "Participant" %}
				{% include "participant_dashboard.html" %}
			{% endif %}
		</main>
		
	</body>
</html> 
