{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}"/>
</head>

<body class="bg-blue-100 px-20">
    <h3 class="text-3xl text-center font-serif py-10 text-slate-900">Sign Up</h3>

    <form method="POST" class="flex space-x-2">
        {% csrf_token %}
        {{form.as_p}}<br>
        <button type="submit" class="bg-blue-500 w-full py-1 mt-3 text-white rounded-md hover:bg-blue-600">Sign In</button>
    </form>

</body>

</html>