<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Participant</title>
</head>
<body>
    <section>
        {% for participant in participants %}
          <div>
            <h4>{{participant}}
            {% for event in participant.event.all %}
              <p>{{event}}</p>
            {% endfor %}
          </div>
          <form action="{% url "delete-participant" participant.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Delete</button>
          </form>
          <a href="{% url "update-participant" participant.id %}">Edit</a>
        {% endfor %}
    </section>
</body>
</html>