{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="bg-blue-100 px-2">

    <div class="w-full">

        <h1 class="text-2xl font-medium mb-5">Password Change</h1>
        {% for message in messages %}
			<p>{{message}}</p>
		{% endfor %}
        <form method="POST" class="flex flex-col gap-3">
            {% csrf_token %}
            {{form}}
            <button class="bg-blue-500 px-2 py-2 text-white font-medium rounded hover:bg-blue-600" type="submit">Password Change</button>
        </form>

    </div>

</body>
</html>